    <form class="form new-blog-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Content:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>